.about {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    /* text-align: center; */
}

.about img {
    flex-basis: 44%;
    width: 100%;
}

.about h1 {
    text-align: left;
    margin-bottom: 10px;
}

.about p {
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}

.about-col {
    padding: 20px;
}


.btn {
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 12px 14px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 1s;
}

h3 {
    font-size: 30px;
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
    }
}