.map {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.contact-col {
    flex-basis: 44%;
}

/* .contact-col div {
    display: inline;
} */

iframe {
    width: 100%;
}

.contact {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.fa {
    display: inline-block;
    color: #f44336;
    font-size: 25px;
    margin-right: 10px;
}

p {
    display: inline-block;
}

p span {
    color: black;
    font-size: 18px;
}


form {
    margin-top: 20px;
    width: 100%;
    /* border: 1px solid #e8e8e8; */
    padding: 15px;
    box-sizing: border-box;
}

input {
    margin-top: 15px;
    width: 93%;
    border: 1px solid #e8e8e8;
    background-color: #e8e8e8;
    padding: 15px;
}

textarea {
    margin-top: 15px;
    border: 1px solid #e8e8e8;
    background-color: #e8e8e8;
    padding: 15px;
    width: 93%;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 12px 14px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 1s;
}

h3 {
    font-size: 30px;
}

/* div.contact-col {
    margin-top: 30px;
} */

@media(max-width:700px) {
    .row {
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
    }

    .blog-col p {
        text-align: justify;
    }

    .blog-col img {
        width: 100%;
    }

    input {
        width: 88%;
    }

    textarea {
        width: 88%;
    }
}